/* Stylesheet for Screened Devices
*  Created by: Harmony
* Table of Contents
*   1. Includes (fonts and supplementary stylesheets)
*     1.1 Normalize
*     1.2 Google fonts
*   2. General Styles (for all pages and devices)
*   3. Mobile First (styles specific to small screens)
*   4. Large Screen Styles (Media Queries begin here)
*/

/* 1.  Includes (fonts and supplementary stylesheets) */
/* 1.1 Normalize Import */
@import url('normalize.css');
/* 1.2 Google Font Import */
@import url('https://fonts.googleapis.com/css?family=Sansita');

/* 2. General Styles*/
header {
  background-color: #0e89d5;
  display:inline-block;
  width:100%;
}

#logo {
  float: left;
}

h1 {
  position: relative;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: helvetica, verdana, sans-serif;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Sansita, Eurostyle, sans-serif;
}

#content {
  background-image: url("../images/rain.jpg");
}

.tile {
  background-color: rgba(200, 200, 200, .6);
  margin: .2em auto;
  text-align: center;
  border: 1px solid;
  border-radius: 15px;
  border-inline-end-width: 0px;
}

#summary #rainy-weather {
  max-width: 300px;
}

nav a {
  display: inline-block;
  list-style: none;
  background-color: #0e89d5;
  text-decoration: none;
  padding: 10px 15px;
  text-align: center;
}

a:hover a:active {
  background-color: #0e8900;
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #0e89d5;
}

a:link a:visited {
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

footer {
  margin-bottom: 2em;
}

#copyright {
  background-color: #0e89d5;
}

#site-brand {
  font-size: 2em;
  font-weight: 600;
}

#high {
  color: red;
}

#low {
  color: blue;
}

/* 3. Mobile Styles*/

/* 4. Large Screens*/