/* Stylesheet for Screened Devices
*  Created by: Harmony
* Table of Contents
*   1. Includes (fonts and supplementary stylesheets)
*     1.1 Normalize
*     1.2 Google fonts
*   2. General Styles (for all pages and devices)
*   3. Mobile First (styles specific to small screens)
*   4. Large Screen Styles (Media Queries begin here)
*/

/* 1.  Includes (fonts and supplementary stylesheets) */
/* 1.1 Normalize Import */
@import url('normalize.css');
/* 1.2 Google Font Import */
@import url('https://fonts.googleapis.com/css?family=Sansita');

/* 2. General Styles*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: helvetica, verdana, sans-serif;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Sansita, Eurostyle, sans-serif;
}
/*Header*/
header #page-header {
  background-color: #0e89d5;
  display: inline-block;
  width: 100%;
}

header #page-header #logo {
  float: left;
  max-width: 60px;
}

header #page-header #site-brand {
  font-size: 2em;
  margin-top: 0;
  margin-left: 10px;
  display: inline;
  font-weight: 600;
  position: relative;
}
/*End of Header*/
/* Links*/
a:link a:visited {
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover a:active {
  background-color: #0e8900;
}

/*End of Links*/
/*Nav*/
#page-nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #0e89d5;
  width: 100%;
}

#page-nav a {
  list-style: none;
  background-color: #0e89d5;
  text-decoration: none;
  padding: 10px 15px;
  text-align: center;
  color: white;
}
/*End of Nav*/
/*Heading*/
#heading h1 {
  font-size: 3em;
  margin: 1.5px 0 0 auto;
}

#heading p {
  margin: 2px 0 0 auto;
}
/*End of Heading*/
/*Main Content*/
#content {
  background-image: url("../images/rain.jpg");
}

.tile {
  background-color: rgba(200, 200, 200, .6);
  margin: .2em auto;
  text-align: center;
  border: 1px solid;
  border-radius: 15px;
}

#summary #rainy-weather {
  max-width: 300px;
  width: 70%;
}

#deg {
  font-size: 50px;
}

#high {
  color: red;
}

#low {
  color: blue;
}
/*End of Main Content*/
/*Footer*/
#copyright {
  background-color: #0e89d5;
}

footer {
  margin-bottom: 2em;
}
/*End of Footer*/
/* 3. Mobile Styles*/
#mph {
  font-size: 30px;
  position: absolute;
  top: 535px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 4. Large Screens*/
@media screen (min-width: 700px) {

  #mph {
    font-size: 30px;
    position: absolute;
    top: 510px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}